.wrapper
	width: 100%
	margin: 0 auto

.header__logo-img
	width: 100%

.header__logo-img
	margin-top: 35px

.upper-form
	margin-top: -120px
.upper-form.container-fluid 
	padding-right: 0
	padding-left: 0
.upper-form__background
	height: 100%
	background-image: url(../img/bg-header-80.jpg)
	background-repeat: no-repeat
.upper-form__container
	padding-top: 300px
.pper-form__title
	font-family: SFUIDisplay
	font-size: 16px * 2
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.31
	letter-spacing: normal
	color: #000000
.upper-form__sub-title
	font-family: SFUIDisplay
	font-size: 10.5px * 2
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.52
	letter-spacing: normal
	color: #000000